<ion-header>
  <ion-toolbar>
    <ion-title>profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <h2>Information sur l'utilisateur</h2>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Prénom : {{firstname}}
      </ion-label>
      
    </ion-item>
    <ion-item>
      <ion-label>
        Nom : {{lastname}}
      </ion-label>

    </ion-item>
    <ion-item>
      <ion-label>
        Numéro de téléphone : {{phone}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
